{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Page Title-->
 <form class="needs-validation modal fade" enctype="multipart/form-data" method="post" id="add-address" tabindex="-1" novalidate>
        {% csrf_token %}
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a new address</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="checkout-address-1">Address</label>
                                <input class="form-control" type="text" name="addline" value="" id="checkout-address-1">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="checkout-zip">City</label>
                                <input class="form-control" type="text" name="city" value="" id="checkout-zip">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="checkout-address-1">State</label>
                                <input class="form-control" type="text" name="state" value="" id="checkout-address-1">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="checkout-zip">ZIP Code</label>
                                <input class="form-control" type="text" name="zipcode" value="" id="checkout-zip">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="primary" id="address-primary">
                            <label class="form-check-label" for="address-primary">Make this address primary</label>
                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-shadow" type="submit">Add address</button>
                </div>
            </div>
        </div>
    </form>
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'apps.main:index' %}"><i class="ci-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap"><a href="#">Account</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Addresses</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">My addresses</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
            <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
                <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
                    <div class="d-md-flex align-items-center">
                        <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0" style="width: 6.375rem;"><img class="rounded-circle" src="{{profile.image.url}}"></div>
                        <div class="ps-md-3">
                            <h3 class="fs-base mb-0">{{user.first_name}} {{user.last_name}}</h3><span class="text-accent fs-sm">{{user.email}}</span>
                        </div>
                    </div>

                    <a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account menu</a>
                </div>
                <div class="d-lg-block collapse" id="account-menu">

                    <div class="bg-secondary px-4 py-3">
                        <h3 class="fs-sm mb-0 text-muted">Account settings</h3>
                    </div>
                    <ul class="list-unstyled mb-0">
                        <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.accounts:profile' %}"><i class="ci-user opacity-60 me-2"></i>Profile info</a></li>
                        <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="{% url 'apps.accounts:address' %}"><i class="ci-location opacity-60 me-2"></i>Address</a></li>
                        <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.accounts:orders' %}"><i class="ci-bag opacity-60 me-2"></i>Orders</a></li>
                        <li class="d-lg-none border-top mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.accounts:signout' %}"><i class="ci-sign-out opacity-60 me-2"></i>Sign out</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                <h6 class="fs-base text-light mb-0">List of your registered addresses:</h6><a class="btn btn-primary btn-sm" href="account-signin.html"><i class="ci-sign-out me-2"></i>Sign out</a>
            </div>
            <!-- Addresses list-->
            <div class="table-responsive fs-md">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for add in address_list %} {% if add.profile_id == profile.id %}
                        <tr>
                            <td class="py-3 align-middle">{{add.addline}}, {{add.city}}, {{add.state}} - {{add.pincode}} {% if add.isprimary %}

                                <span class="align-middle badge bg-info ms-2">Primary</span></td>
                            {% endif %}
                            <td class="py-3 align-middle">

                                <a class="nav-link-style me-2" href="{% url 'apps.accounts:manageadd' add.id %}?action=edit&addid={{add.id}}" data-bs-toggle="tooltip" title="Edit">
                                    <i class="ci-edit"></i></a>

                                {% if add.isprimary %}
                                <a class="nav-link-style text-danger" style="visibility:hidden" href="{% url 'apps.accounts:manageadd' add.id %}?action=rem&addid={{add.id}}" data-bs-toggle="tooltip" title="Remove">
                                    <div class="ci-trash"></div>
                                </a>
                                {% else %}
                                <a class="nav-link-style text-danger" href="{% url 'apps.accounts:manageadd' add.id %}?action=rem&addid={{add.id}}" data-bs-toggle="tooltip" title="Remove">
                                    <div class="ci-trash"></div>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %} {% endfor %} 
                    </tbody>
                </table>
            </div>
            <div class="text-sm-end pt-4"><a class="btn btn-primary" href="#add-address" data-bs-toggle="modal">Add new address</a></div>

        </section>
    </div>
</div>{% endblock %}