{% extends 'base.html' %}
{% load static %}
{%block content%}
    <!-- Page Title (Light)-->
    <div class="bg-dark py-4 ">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item text-secondary"><a class="text-nowrap" href="{% url 'apps.main:index' %}"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap active text-secondary" aria-current="page">Contact Us</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 mb-0 text-light">Contacts Us</h1>
        </div>
      </div>
    </div>
    <!-- Contact detail cards-->
    <section class="container-fluid pt-grid-gutter">
      <div class="row">
        <div class="col-xl-4 offset-xl-2 col-sm-6 mb-grid-gutter"><a class="card h-100" href="#map" data-scroll>
            <div class="card-body text-center"><i class="ci-location h3 mt-2 mb-4 text-primary"></i>
              <h3 class="h6 mb-2">Main store address</h3>
              <p class="fs-sm text-muted">396 Lillian Blvd, Holbrook, NY 11741, USA</p>
              <div class="fs-sm text-primary">Click to see map<i class="ci-arrow-right align-middle ms-1"></i></div>
            </div></a>
          </div>
        <div class="col-xl-4 col-sm-6 mb-grid-gutter">
          <div class="card h-100">
            <div class="card-body text-center"><i class="ci-time h3 mt-2 mb-4 text-primary"></i>
              <h3 class="h6 mb-3">Working hours</h3>
              <ul class="list-unstyled fs-sm text-muted mb-0">
                <li>Mon - Fri: 10AM - 7PM</li>
                <li class="mb-0">Sta: 11AM - 5PM</li>
              </ul>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-xl-4 offset-xl-2 col-sm-6 mb-grid-gutter">
          <div class="card h-100">
            <div class="card-body text-center"><i class="ci-phone h3 mt-2 mb-4 text-primary"></i>
              <h3 class="h6 mb-3">Phone numbers</h3>
              <ul class="list-unstyled fs-sm mb-0">
                <li><span class="text-muted me-1">For customers:</span><a class="nav-link-style" href="tel: +91 7045952239">+91 7045952239</a></li>
                <li class="mb-0"><span class="text-muted me-1">Tech support:</span><a class="nav-link-style" href="tel:+91 8928757614">+91 8928757614</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4  col-sm-6 mb-grid-gutter">
          <div class="card h-100">
            <div class="card-body text-center"><i class="ci-mail h3 mt-2 mb-4 text-primary"></i>
              <h3 class="h6 mb-3">Email addresses</h3>
              <ul class="list-unstyled fs-sm mb-0">
                <li><span class="text-muted me-1">For customers:</span><a class="nav-link-style" href="mailto:+108044357260">premmevada@gmail.com</a></li>
                <li class="mb-0"><span class="text-muted me-1">Tech support:</span><a class="nav-link-style" href="mailto:support@example.com">harshadrane67@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Outlet stores-->
   
    <!-- Split section: Map + Contact form-->
    <section class="container-fluid pt-4 mt-md-4 mb-5 align-center">
    <div class="container-fluid px-0" id="map">
      <div class="row g-0">
        <div class="col-lg-6 px-4 px-xl-5 py-5 border-top">
          <h2 class="h4 mb-4">Drop us a line</h2>
          <form method="POST" class="needs-validation mb-3" novalidate>
          {%csrf_token%}
            <div class="row g-3">
              <div class="col-sm-6">
                <label class="form-label" for="cf-name">Your name:&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control" type="text" id="cf-name" name="name" value="{{user.first_name}} {{user.last_name}}" placeholder="Name" required>
                <div class="invalid-feedback">Please fill in you name!</div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="cf-email">Email address:&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control" type="email" id="cf-email" name="email" value="{{user.email}}" placeholder="johndoe@email.com" required>
                <div class="invalid-feedback">Please provide valid email address!</div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="cf-phone">Your phone:&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control" type="text" id="cf-phone" name="phonenumber" value="{{profile.mob_no}}" placeholder="+91" required>
                <div class="invalid-feedback">Please provide valid phone number!</div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="cf-subject">Subject:</label>
                <input class="form-control" type="text" id="cf-subject" name="subject" placeholder="Provide short title of your request">
              </div>
              <div class="col-12">
                <label class="form-label" for="cf-message">Message:&nbsp;<span class="text-danger">*</span></label>
                <textarea class="form-control" id="cf-message" rows="6" name="message" placeholder="Please describe in detail your request" required></textarea>
                <div class="invalid-feedback">Please write a message!</div>
                <button class="btn btn-primary mt-4" type="submit">Send message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </section>
    <!-- Footer-->
    {% endblock %}