{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Dashboard header-->
    <div class="page-title-overlap bg-accent pt-4">
      <div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
        <div class="d-flex align-items-center pb-3">
          
          <div class="ps-3">
            <h1 class="text-light mb-0">{{user.first_name}} {{user.last_name}}</h1>
        </div>
        
      </div>
      </div>
    </div>
    <div class="container mb-5 pb-3">
      <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
          <!-- Sidebar-->
          <aside class="col-lg-4 pe-xl-5">
            <!-- Account menu toggler (hidden on screens larger 992px)-->
            <div class="d-block d-lg-none p-4"><a class="btn btn-outline-accent d-block" href="#account-menu" data-bs-toggle="collapse"><i class="ci-menu me-2"></i>Account menu</a></div>
            <!-- Actual menu-->
            <div class="h-100 border-end mb-2">
              <div class="d-lg-block collapse" id="account-menu">
                <div class="bg-secondary p-4">
                  <h3 class="fs-sm mb-0 text-muted">Account</h3>
                </div>
                <ul class="list-unstyled mb-0">
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 " href="{% url 'apps.seller_accounts:profile' %}"><i class="ci-user-circle opacity-60 me-2"></i>Profile</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="{% url 'apps.seller_accounts:companyinfo' %}"><i class="ci-briefcase opacity-60 me-2"></i>Company Info</a></li>
                  
                </ul>
                <div class="bg-secondary p-4">
                  <h3 class="fs-sm mb-0 text-muted">Seller Dashboard</h3>
                </div>
                <ul class="list-unstyled mb-0">
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.seller_accounts:sellerorders' %}"><i class="ci-dollar opacity-60 me-2"></i>Orders</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.seller_accounts:companyproducts' %}"><i class="ci-package opacity-60 me-2"></i>Products</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.seller_accounts:add_new_product' %}"><i class="ci-cloud-upload opacity-60 me-2"></i>Add New Product</a></li>
                  
                  <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.seller_accounts:signout' %}"><i class="ci-sign-out opacity-60 me-2"></i>Sign out</a></li>
                </ul>
                <hr>
              </div>
            </div>
          </aside>
          <!-- Content-->
          <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
            <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
              
              <!-- Tab content-->
              <div class="tab-content">
                <!-- Profile-->
                <div class="tab-pane fade show active" id="profile" role="tabpanel">
                  
                  <form method="POST" name="signupForm" class="" novalidate onsubmit="return validName()">
                    {% csrf_token %}
                  <div class="row gx-4 gy-3">
                    <div class="col-sm-12">
                      <label class="form-label" >Company Name</label>
                      <input class="form-control" type="text" id="dashboard-fn" name="companyname" value="{{company_info.company_name}}">
                    </div>
                    <div class="col-sm-12">
                          <div class="mb-3">
                            <label for="textarea-input" class="form-label">Description</label>
                            <textarea class="form-control" id="textarea-input" rows="5" name="description">{{company_info.company_desc}}</textarea>
                            <div>
                            <span id="message-description" style="color:red"></span>
                          </div>
                          </div>
                        </div>
                    <div class="col-sm-12">
                      <label class="form-label">Company Email</label>
                      <input class="form-control" type="text" id="dashboard-email" name="companyemail" value="{{company_info.company_email}}">
                    </div>
                    <div class="col-sm-12">
                      <label class="form-label">Company Number</label>
                      <input class="form-control" type="text" id="dashboard-ln" name="companynumber" value="{{company_info.company_number}}">
                    </div>
                    <div class="col-sm-12">
                      <label class="form-label">Address</label>
                      <input class="form-control" type="text" id="dashboard-profile-name" name="Address" value="{{address_info.addline}}">
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label">City</label>
                      <input class="form-control" type="text" id="dashboard-city" name="City" value="{{address_info.city}}">
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label">State</label>
                      <input class="form-control" type="text" id="dashboard-city" name="State" value="{{address_info.state}}">
                    </div>
                    
                    <div class="col-sm-6">
                      <label class="form-label">Country</label>
                      <input class="form-control" type="text" id="dashboard-city" name="Country" value="{{address_info.country}}">
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label">PinCode</label>
                      <input class="form-control" type="text" id="dashboard-zip" name="Pincode" value="{{address_info.pincode}}">
                    </div>
                    <div class="col-12">
                      <hr class="mt-2 mb-4">
                      <div class="d-sm-flex justify-content-between align-items-center">
                        
                        <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Save changes</button>
                      </div>
                    </div>
                  </div>
                  </form>
                </div>
                
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- Footer-->
    {% endblock %}