{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Dashboard header-->
    <div class="page-title-overlap bg-accent pt-4">
      <div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
        <div class="d-flex align-items-center pb-3">
          {% comment %} <div class="img-thumbnail rounded-circle position-relative flex-shrink-0" style="width: 6.375rem;"><img class="rounded-circle" src="{% static 'img/marketplace/account/avatar.png' %}" alt="DSE  Studio"></div> {% endcomment %}
          <div class="ps-3">
            <h1 class="text-light mb-0">{{user.first_name}} {{user.last_name}}</h1>
          </div>
        
      </div>
      </div>
    </div>
    <div class="container mb-5 pb-3">
      <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
          <!-- Sidebar-->
          <aside class="col-lg-4 pe-xl-5">
            <!-- Account menu toggler (hidden on screens larger 992px)-->
            <div class="d-block d-lg-none p-4"><a class="btn btn-outline-accent d-block" href="#account-menu" data-bs-toggle="collapse"><i class="ci-menu me-2"></i>Account menu</a></div>
            <!-- Actual menu-->
            <div class="h-100 border-end mb-2">
              <div class="d-lg-block collapse" id="account-menu">
                <div class="bg-secondary p-4">
                  <h3 class="fs-sm mb-0 text-muted">Account</h3>
                </div>
                <ul class="list-unstyled mb-0">
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="{% url 'apps.seller_accounts:profile' %}"><i class="ci-user-circle opacity-60 me-2"></i>Profile</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.seller_accounts:companyinfo' %}"><i class="ci-briefcase opacity-60 me-2"></i>Company Info</a></li>
                  
                </ul>
                <div class="bg-secondary p-4">
                  <h3 class="fs-sm mb-0 text-muted">Seller Dashboard</h3>
                </div>
                <ul class="list-unstyled mb-0">
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.seller_accounts:sellerorders' %}"><i class="ci-dollar opacity-60 me-2"></i>Orders</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.seller_accounts:companyproducts' %}"><i class="ci-package opacity-60 me-2"></i>Products</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.seller_accounts:add_new_product' %}"><i class="ci-cloud-upload opacity-60 me-2"></i>Add New Product</a></li>
                  {% comment %} <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="dashboard-payouts.html"><i class="ci-currency-exchange opacity-60 me-2"></i>Payouts</a></li> {% endcomment %}
                  <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'apps.seller_accounts:signout' %}"><i class="ci-sign-out opacity-60 me-2"></i>Sign out</a></li>
                </ul>
                <hr>
              </div>
            </div>
          </aside>
          <!-- Content-->
          <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
            <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
              {% comment %} <h2 class="h3 py-2 text-center text-sm-start">Settings</h2>
              <!-- Tabs-->
              <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item"><a class="nav-link px-0 active" href="#profile" data-bs-toggle="tab" role="tab">
                    <div class="d-none d-lg-block"><i class="ci-user opacity-60 me-2"></i>Profile</div>
                    <div class="d-lg-none text-center"><i class="ci-user opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Profile</span></div></a></li>
                <li class="nav-item"><a class="nav-link px-0" href="#notifications" data-bs-toggle="tab" role="tab">
                    <div class="d-none d-lg-block"><i class="ci-bell opacity-60 me-2"></i>Notifications</div>
                    <div class="d-lg-none text-center"><i class="ci-bell opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Notifications</span></div></a></li>
                <li class="nav-item"><a class="nav-link px-0" href="#payment" data-bs-toggle="tab" role="tab">
                    <div class="d-none d-lg-block"><i class="ci-card opacity-60 me-2"></i>Payment methods</div>
                    <div class="d-lg-none text-center"><i class="ci-card opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Payment</span></div></a></li>
              </ul> {% endcomment %}
              <!-- Tab content-->
              <div class="tab-content">
                <!-- Profile-->
                <div class="tab-pane fade show active" id="profile" role="tabpanel">
                  {% comment %} <div class="bg-secondary rounded-3 p-4 mb-4">
                    <div class="d-flex align-items-center"><img class="rounded" src="{% static 'img/marketplace/account/avatar.png' %}" width="90" alt="DSE  Studio">
                      <div class="ps-3">
                        <button class="btn btn-light btn-shadow btn-sm mb-2" type="button"><i class="ci-loading me-2"></i>Change <span class='d-none d-sm-inline'>avatar</span></button>
                        <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                      </div>
                    </div>
                  </div> {% endcomment %}
                  <div class="row gx-4 gy-3">
                    <form method="POST" name="signupForm" class="" novalidate onsubmit="return validName()">
                      {% csrf_token %}
                      <div class="row gx-4 gy-3">
                        <div class="col-sm-6">
                          <label class="form-label" for="reg-fn">First Name</label><span id="sp1"></span>
                          <input class="form-control" type="text" name="firstname" required id="reg-fn" value="{{user.first_name}}">
                          <div>
                            <span id="message-firstname" style="color:red"></span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="reg-fn">Last Name</label>
                          <input class="form-control" type="text" name="lastname" required id="reg-fn" value="{{user.last_name}}">
                          <div>
                            <span id="message-lastname" style="color:red"></span>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <label class="form-label" for="reg-fn">UserName</label>
                          <input class="form-control" type="text" name="username" required id="reg-fn" value="{{user.username}}">
                          <div>
                            <span id="message-username" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                          <label class="form-label" for="reg-email">E-mail Address</label>
                          <input class="form-control" type="email" name="email" required id="reg-email" value="{{user.email}}">
                          <div>
                            <span id="message-email" style="color:red"></span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <label class="form-label" for="reg-phone">Phone Number</label>
                            <input class="form-control" type="text" name="phonenumber" required id="reg-phone">
                            <div class="invalid-feedback">Please enter your phone number!</div>
                          </div> -->
                        <!-- <div class="col-sm-6">
                            <label class="form-label" for="reg-password">Password</label>
                            <input class="" type="password" id= "password" name="password" required id="reg-password">
                            <span id="message" style="color:red"></span>
                            <div class="invalid-feedback">Please enter password!</div>
                          </div> -->
                        <!-- Password visibility toggle -->
                        <div class="col-12 text-end">
                          <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                      </div>
                    </form>
                    {% comment %} <div class="col-sm-6">
                      <label class="form-label" for="dashboard-fn">First Name</label>
                      <input class="form-control" type="text" id="dashboard-fn" value="{{user.first_name}}">
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label" for="dashboard-ln">Last Name</label>
                      <input class="form-control" type="text" id="dashboard-ln" value="{{user.last_name}}">
                    </div>
                    <div class="col-sm-12">
                      <label class="form-label" for="dashboard-email">Email address</label>
                      <input class="form-control" type="text" id="dashboard-email" value="{{user.email}}">
                    </div>
                    <div class="col-sm-12">
                      <label class="form-label" for="dashboard-profile-name">UserName</label>
                      <input class="form-control" type="text" id="dashboard-profile-name" value="{{user.username}}">
                    </div>
                    <div class="col-12">
                      <hr class="mt-2 mb-4">
                      <div class="d-sm-flex justify-content-between align-items-center">
                        {% comment %} <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="freelancer" checked>
                          <label class="form-check-label" for="freelancer">I'm available for freelance</label>
                        </div> {% endcomment %}
                        {% comment %} <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Save changes</button> {% endcomment %}
                      
                    </div>
                  </div>
                </div>
                <!-- Notifications-->
                {% comment %} <div class="tab-pane fade" id="notifications" role="tabpanel">
                  <div class="bg-secondary rounded-3 p-4">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="nf-disable-all" data-master-checkbox-for="#notifocation-settings">
                      <label class="form-check-label fw-medium" for="nf-disable-all">Enable/disable all notifications</label>
                    </div>
                  </div>
                  <div id="notifocation-settings">
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-product-sold" checked>
                        <label class="form-check-label" for="nf-product-sold">Product sold notifications</label>
                      </div>
                      <div class="form-text">Send an email when someone purchased one of my products</div>
                    </div>
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-product-updated" checked>
                        <label class="form-check-label" for="nf-product-updated">Product update notifications</label>
                      </div>
                      <div class="form-text">Send an email when a product I've purchased is updated</div>
                    </div>
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-product-comment" checked>
                        <label class="form-check-label" for="nf-product-comment">Product comment notifications</label>
                      </div>
                      <div class="form-text">Send an email when someone comments on one of my products</div>
                    </div>
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-product-review" checked>
                        <label class="form-check-label" for="nf-product-review">Product review notification</label>
                      </div>
                      <div class="form-text">Send an email when someone leaves a review with their rating</div>
                    </div>
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-daily-summary">
                        <label class="form-check-label" for="nf-daily-summary">Daily summary emails</label>
                      </div>
                      <div class="form-text">Send me a daily summary of all products sold, commented or reviewed</div>
                    </div>
                  </div>
                  <div class="text-sm-end mt-4">
                    <button class="btn btn-primary" type="button">Save changes</button>
                  </div>
                </div> {% endcomment %}
                <!-- Payment methods-->
                {% comment %} <div class="tab-pane fade" id="payment" role="tabpanel">
                  <div class="bg-secondary rounded-3 p-4 mb-4">
                    <p class="fs-sm text-muted mb-0">Primary payment method is used by default</p>
                  </div> {% endcomment %}
                  {% comment %} <div class="table-responsive fs-md mb-4">
                    <table class="table table-hover mb-0">
                      <thead>
                        <tr>
                          <th>Your credit / debit cards</th>
                          <th>Name on card</th>
                          <th>Expires on</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-visa.jpg' %}" width="39" alt="Visa">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">Visa</span>ending in 4999<span class="align-middle badge badge-info ms-2">Primary</span></div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">John doe</td>
                          <td class="py-3 align-middle">08 / 2019</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-master.jpg' %}" width="39" alt="MesterCard">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">MasterCard</span>ending in 0015</div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">John doe</td>
                          <td class="py-3 align-middle">11 / 2021</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-paypal.jpg' %}" width="39" alt="PayPal">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">PayPal</span>j.doe@example.com</div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">&mdash;</td>
                          <td class="py-3 align-middle">&mdash;</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-visa.jpg' %}" width="39" alt="Visa">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">Visa</span>ending in 6073</div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">John doe</td>
                          <td class="py-3 align-middle">09 / 2021</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-visa.jpg' %}" width="39" alt="Visa">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">Visa</span>ending in 9791</div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">John doe</td>
                          <td class="py-3 align-middle">05 / 2021</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div> {% endcomment %}
                  {% comment %} <div class="text-sm-end"><a class="btn btn-primary" href="#add-payment" data-bs-toggle="modal">Add payment method</a></div> {% endcomment %}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- Footer-->
    {% endblock %}