{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Dashboard header-->
    <div class="page-title-overlap bg-accent pt-4">
      <div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
        <div class="d-flex align-items-center pb-3">
          <div class="ps-3">
            <h1 class="text-light  mb-0">Seller SignIn</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-5 pb-5">
      
        <div class="row">
          <!-- Sidebar-->
          
          <!-- Content-->
          <section class="col-lg-8 pt-lg-4 pb-4 mb-3 ms-4">
            <div class="pt-2 px-4 ps-lg-0 pe-xl-5 ml-8">
              <!-- Tab content-->
              <div class="tab-content">
                <!-- Profile-->
                <div class="tab-pane fade show active" id="profile" role="tabpanel">
                  
                  
                    <div class="col-md-12">
                        <div class="card border-0 shadow">
                          <div class="card-body">
                            <h2 class="h4 mb-1">Sign in</h2>
                            <h3 class="fs-base pt-4 pb-2">Don't have an account? <a href="{% url 'apps.seller_accounts:signup' %}">SignUp</a></h3>
                            <form method="POST" class="needs-validation" onsubmit="return validName()" novalidate>
                              {% csrf_token %}
                              <div class="input-group mb-3"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                                <input class="form-control rounded-start" type="text" name="username" placeholder="Username" required>
                              </div>
                              <div>
                                <span id="message-username" style="color:red"></span>
                              </div>
                              <div class="input-group mb-3"><i class="ci-locked position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                                <div class="password-toggle w-100">
                                  <input class="form-control unique_password" type="password" name="password" placeholder="Password" required>
                                  <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                  </label>
                                </div>
                                <div>
                                  <span id="message-password" style="color:red"></span>
                                </div>
                              </div>
                              <div class="d-flex flex-wrap justify-content-between">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" checked id="remember_me">
                                  <label class="form-check-label" for="remember_me">Remember me</label>
                                </div><a class="nav-link-inline fs-sm" href="account-password-recovery.html">Forgot password?</a>
                              </div>
                              <hr class="mt-4">
                              <div class="text-end pt-4">
                                <button class="btn btn-primary" type="submit"><i class="ci-sign-in me-2 ms-n21"></i>Sign In</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    
                </div>
                <!-- Notifications-->
                <div class="tab-pane fade" id="notifications" role="tabpanel">
                  <div class="bg-secondary rounded-3 p-4">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="nf-disable-all" data-master-checkbox-for="#notifocation-settings">
                      <label class="form-check-label fw-medium" for="nf-disable-all">Enable/disable all notifications</label>
                    </div>
                  </div>
                  <div id="notifocation-settings">
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-product-sold" checked>
                        <label class="form-check-label" for="nf-product-sold">Product sold notifications</label>
                      </div>
                      <div class="form-text">Send an email when someone purchased one of my products</div>
                    </div>
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-product-updated" checked>
                        <label class="form-check-label" for="nf-product-updated">Product update notifications</label>
                      </div>
                      <div class="form-text">Send an email when a product I've purchased is updated</div>
                    </div>
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-product-comment" checked>
                        <label class="form-check-label" for="nf-product-comment">Product comment notifications</label>
                      </div>
                      <div class="form-text">Send an email when someone comments on one of my products</div>
                    </div>
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-product-review" checked>
                        <label class="form-check-label" for="nf-product-review">Product review notification</label>
                      </div>
                      <div class="form-text">Send an email when someone leaves a review with their rating</div>
                    </div>
                    <div class="border-bottom p-4">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nf-daily-summary">
                        <label class="form-check-label" for="nf-daily-summary">Daily summary emails</label>
                      </div>
                      <div class="form-text">Send me a daily summary of all products sold, commented or reviewed</div>
                    </div>
                  </div>
                  <div class="text-sm-end mt-4">
                    <button class="btn btn-primary" type="button">Save changes</button>
                  </div>
                </div>
                <!-- Payment methods-->
                <div class="tab-pane fade" id="payment" role="tabpanel">
                  <div class="bg-secondary rounded-3 p-4 mb-4">
                    <p class="fs-sm text-muted mb-0">Primary payment method is used by default</p>
                  </div>
                  <div class="table-responsive fs-md mb-4">
                    <table class="table table-hover mb-0">
                      <thead>
                        <tr>
                          <th>Your credit / debit cards</th>
                          <th>Name on card</th>
                          <th>Expires on</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-visa.jpg' %}" width="39" alt="Visa">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">Visa</span>ending in 4999<span class="align-middle badge badge-info ms-2">Primary</span></div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">John doe</td>
                          <td class="py-3 align-middle">08 / 2019</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-master.jpg' %}" width="39" alt="MesterCard">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">MasterCard</span>ending in 0015</div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">John doe</td>
                          <td class="py-3 align-middle">11 / 2021</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-paypal.jpg' %}" width="39" alt="PayPal">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">PayPal</span>j.doe@example.com</div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">&mdash;</td>
                          <td class="py-3 align-middle">&mdash;</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-visa.jpg' %}" width="39" alt="Visa">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">Visa</span>ending in 6073</div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">John doe</td>
                          <td class="py-3 align-middle">09 / 2021</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                        <tr>
                          <td class="py-3 align-middle">
                            <div class="d-flex align-items-center"><img src="{% static 'img/card-visa.jpg' %}" width="39" alt="Visa">
                              <div class="ps-2"><span class="fw-medium text-heading me-1">Visa</span>ending in 9791</div>
                            </div>
                          </td>
                          <td class="py-3 align-middle">John doe</td>
                          <td class="py-3 align-middle">05 / 2021</td>
                          <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove">
                              <div class="ci-trash"></div></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="text-sm-end"><a class="btn btn-primary" href="#add-payment" data-bs-toggle="modal">Add payment method</a></div>
                </div>
              </div>
            </div>
          </section>
        </div>
    
    </div>
    <!-- Footer-->
    {% endblock %}