{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'apps.main:index' %}"><i class="ci-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap"><a href="{% url 'apps.main:showallproducts' %}">Shop</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Cart</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Your cart</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- List of items-->
        <section class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
                <h2 class="h6 text-light mb-0">Products</h2><a class="btn btn-outline-primary btn-sm ps-2" href="{% url 'apps.main:showallproducts' %}"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
            </div>
            <!-- Item-->

            {% for cp in cartproducts %}
            <div class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
                <div class="d-block d-sm-flex align-items-center text-center text-sm-start">

                    <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="{% url 'apps.main:single_product' cp.product.id %}"> 
                    {% if cp.product.productimagesfiles_set.all %}
                      {% for product_img in cp.product.productimagesfiles_set.all|slice:":1" %}
                        <img src="{{product_img.image_file.url}}" width="180" alt="Product">
                      {%endfor%}
                    {%else%}
                      {% for product_img in cp.product.productimagesurl_set.all|slice:":1" %}
                        <img src="{{product_img.image_url}}" width="180" alt="Product">
                      {%endfor%}
                    {% endif %}
                    </a>
                    <div class="pt-2">
                        <h3 class="product-title fs-base mb-2"><a href="{% url 'apps.main:single_product' cp.product.id %}">{{cp.product.title}}</a></h3>
                        <div class="fs-sm"><span class="text-muted me-2">Size:</span>8.5</div>
                        <div class="fs-sm"><span class="text-muted me-2">Color:</span>White &amp; Blue</div>
                        <div class="fs-lg text-accent pt-2">${{cp.rate}}</div>
                    </div>
                </div>
                <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                    <label class="form-label" for="quantity1">Quantity </label>
                    <input class="form-control" type="number" id="quantity1" min="1" value="{{cp.quantity}}">
                    <a href="{% url 'apps.cart:managecart' cp.id %}?action=inc">
                        <button class="btn btn-link px-0 text-success" type="button"><i class="ci-add-circle me-2"></i><span class="fs-sm">Add</span></button></a>
                    <a href="{% url 'apps.cart:managecart' cp.id %}?action=dcr">
                        <button class="btn btn-link px-0 text-danger" type="button"><i class="ci-close-circle me-2"></i><span class="fs-sm">Remove</span></button></a>
                </div>
            </div>
            {% endfor %}
            
            <a href="{% url 'apps.cart:emptycart'%}"><button class="btn btn-outline-accent d-block w-100 mt-4" type="button"><i class="ci-loading fs-base me-2"></i>Empty cart</button></a>


        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4">
                <div class="py-2 px-xl-2">
                    
                    <div class="py-2 px-xl-2">
                        <div class="widget mb-3">
                            <h2 class="widget-title text-center">Order summary</h2>
                            {% for cp in cartproducts %}
                            <div class="d-flex pb-2 border-bottom">
                                <div class="ps-2">
                                    <h6 class="widget-product-title"><a href="{% url 'apps.main:single_product' cp.product.id %}">{{cp.product.title}}</a></h6>
                                    <div class="widget-product-meta"><span class="text-accent me-2">${{cp.rate}}</span><span class="text-muted">x {{cp.quantity}}</span></div>
                                </div>
                                <div class="ms-auto">
                                    <h6 class="fw-normal text-center">${{cp.subtotal}}</h6>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <ul class="list-unstyled fs-sm pb-2 border-bottom">
                            <li class="d-flex justify-content-between align-items-center"><span class="me-2">Subtotal:</span><span class="text-end">${{cart.total}}</span></li>
                            <li class="d-flex justify-content-between align-items-center"><span class="me-2">Shipping:</span><span class="text-end">—</span></li>
                            <li class="d-flex justify-content-between align-items-center"><span class="me-2">Taxes:</span><span class="text-end">—</span></li>
                            <li class="d-flex justify-content-between align-items-center"><span class="me-2">Discount:</span><span class="text-end">—</span></li>
                        </ul>
                        

                    </div>
                    <div class="text-center mb-4 pb-3 border-bottom">
                        <h2 class="h6 mb-3 pb-1">Total</h2>
                        <h3 class="fw-normal">${{cart.total}}</h3>
                    </div>
                    <a class="btn btn-primary btn-shadow d-block w-100 mt-4" href="{% url 'apps.cart:checkoutdetails' %}"><i class="ci-card fs-lg me-2"></i>Proceed to Shipping</a>
                </div>
            </div>
        </aside>
    </div>
</div>
{% endblock %}