{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Custom page title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'apps.main:index' %}"><i class="ci-home"></i>Home</a></li>
              
                                
              <li class="breadcrumb-item text-nowrap"><a href="{% url 'apps.main:filter_auto' %}?prod=-{{single_product.gender_cat}}">{{single_product.gender_cat}}</a></li>
           
              <li class="breadcrumb-item text-nowrap"><a href="{% url 'apps.main:filter_auto' %}?prod=-{{single_product.gender_cat}}-{{single_product.sub_cat}}">{{single_product.sub_cat}}</a></li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page"><a href="{% url 'apps.main:filter_auto' %}?prod=-{{single_product.gender_cat}}-{{single_product.sub_cat}}-{{single_product.articel_type}}">{{single_product.articel_type}}</a></li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-2">{{single_product.title}}</h1>
          <div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
            </div><span class="d-inline-block fs-sm text-white opacity-70 align-middle mt-1 ms-1">74 Reviews</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="bg-light shadow-lg rounded-3">
        <!-- Tabs-->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link py-4 px-sm-4 active" href="#general" data-bs-toggle="tab" role="tab">General <span class='d-none d-sm-inline'>Info</span></a></li>
          <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="#specs" data-bs-toggle="tab" role="tab"><span class='d-none d-sm-inline'>Tech</span> Specs</a></li>
          <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="#reviews" data-bs-toggle="tab" role="tab">Reviews <span class="fs-sm opacity-60"></span></a></li>
        </ul>
        <div class="px-4 pt-lg-3 pb-3 mb-5">
          <div class="tab-content px-lg-3">
            <!-- General info tab-->
            <div class="tab-pane fade show active" id="general" role="tabpanel">
              <div class="row">
                <!-- Product gallery-->
                <div class="col-lg-7 pe-lg-0">
                  <div class="product-gallery">
                    <div class="product-gallery-preview order-sm-2">
                      {% if single_product.productimagesfiles_set.all %}
                        {% for product_img in single_product.productimagesfiles_set.all %}
                          {% if forloop.counter == 1%}
                            <div class="product-gallery-preview-item active" id="product_img_id_{{product_img.id}}"><img class="image-zoom" src="{{product_img.image_file.url}}" data-zoom="{{product_img.image_file.url}}" alt="if 1Product image">
                              <div class="image-zoom-pane"></div>
                            </div>
                          {% else %}
                            <div class="product-gallery-preview-item" id="product_img_id_{{product_img.id}}"><img class="image-zoom" src="{{product_img.image_file.url}}" data-zoom="{{product_img.image_file.url}}" alt="if 1Product image">
                              <div class="image-zoom-pane"></div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% for product_img in single_product.productimagesurl_set.all %}
                          {% if forloop.counter == 1%}
                          <div class="product-gallery-preview-item active" id="product_img_id_{{product_img.id}}"><img class="image-zoom" src="{{product_img.image_url}}" data-zoom="{{product_img.image_url}}" alt="if 2 Product image">
                            <div class="image-zoom-pane"></div>
                          </div>
                          {% else %}
                           <div class="product-gallery-preview-item" id="product_img_id_{{product_img.id}}"><img class="image-zoom" src="{{product_img.image_url}}" data-zoom="{{product_img.image_url}}" alt="if 2 Product image">
                            <div class="image-zoom-pane"></div>
                          </div>
                          {%endif%}
                        {% endfor %}
                      {% endif %}
                     
                    </div>
                   
                     
                    <div class="product-gallery-thumblist order-sm-1">
                      {% if single_product.productimagesfiles_set.all %}
                        {% for product_img in single_product.productimagesfiles_set.all %}
                          <a class="product-gallery-thumblist-item" href="#product_img_id_{{product_img.id}}"><img src="{{product_img.image_file.url}}" alt="#{{product_img.id}}"></a>
                        {% endfor %}
                      {%else%}
                        {% for product_img in single_product.productimagesurl_set.all %}
                          <a class="product-gallery-thumblist-item" href="#product_img_id_{{product_img.id}}"><img src="{{product_img.image_url}}" alt="#{{product_img.id}}"></a>
                        {% endfor %}
                      {%endif%}
                      
                    </div>
                  </div>
                </div>
                <!-- Product details-->
                <div class="col-lg-5 pt-4 pt-lg-0">
                  <div class="product-details ms-auto pb-3">
                    <h1 class="h3 text-dark mb-2">{{single_product.title}}</h1>
                    <div class="h3 fw-normal text-accent mb-3 me-1">${{single_product.market_price}}</div>
                    <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">Color:</span><span class="text-muted" id="colorOption">{{single_product.color}}</span></div>
                    {% comment %} <div class="position-relative me-n4 mb-3">
                      <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color1" data-bs-label="colorOption" value="Dark blue/Orange" checked>
                        <label class="form-option-label rounded-circle" for="color1"><span class="form-option-color rounded-circle" style="background-color: #f25540;"></span></label>
                      </div>
                      <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color2" data-bs-label="colorOption" value="Dark blue/Green">
                        <label class="form-option-label rounded-circle" for="color2"><span class="form-option-color rounded-circle" style="background-color: #65805b;"></span></label>
                      </div>
                      <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color3" data-bs-label="colorOption" value="Dark blue/White">
                        <label class="form-option-label rounded-circle" for="color3"><span class="form-option-color rounded-circle" style="background-color: #f5f5f5;"></span></label>
                      </div>
                      <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color4" data-bs-label="colorOption" value="Dark blue/Black">
                        <label class="form-option-label rounded-circle" for="color4"><span class="form-option-color rounded-circle" style="background-color: #333;"></span></label>
                      </div>
                      <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Product available</div>
                    </div> {% endcomment %}
                    <div class="d-flex align-items-center pt-2 pb-4" >
                      {% if user.is_staff %}
                      <button class="btn btn-primary btn-shadow d-block w-100 disabled" type="button"><i class="ci-cart fs-lg me-2"></i>Add to Cart</button>
                      {% else %}
                      <a class="w-100" href="{% url 'apps.cart:addtocart' single_product.id %}">
                      <button class="btn btn-primary btn-shadow d-block w-100" type="button"><i class="ci-cart fs-lg me-2"></i>Add to Cart</button>
                      </a>
                      {% endif %}
                    </div>
                    {% comment %} <div class="d-flex mb-4">
                      <div class="w-100 me-3">
                        <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-heart fs-lg me-2"></i><span class='d-none d-sm-inline'>Add to </span>Wishlist</button>
                      </div>
                      <div class="w-100">
                        <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-compare fs-lg me-2"></i>Compare</button>
                      </div>
                    </div>
                    <!-- Product panels-->
                    <div class="accordion mb-4" id="productPanels">
                      <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions"><i class="ci-delivery text-muted lead align-middle mt-n1 me-2"></i>Shipping options</a></h3>
                        <div class="accordion-collapse collapse show" id="shippingOptions" data-bs-parent="#productPanels">
                          <div class="accordion-body fs-sm">
                            <div class="d-flex justify-content-between border-bottom pb-2">
                              <div>
                                <div class="fw-semibold text-dark">Local courier shipping</div>
                                <div class="fs-sm text-muted">2 - 4 days</div>
                              </div>
                              <div>$16.50</div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <div>
                                <div class="fw-semibold text-dark">UPS ground shipping</div>
                                <div class="fs-sm text-muted">4 - 6 days</div>
                              </div>
                              <div>$19.00</div>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <div>
                                <div class="fw-semibold text-dark">Local pickup from store</div>
                                <div class="fs-sm text-muted">&mdash;</div>
                              </div>
                              <div>$0.00</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#localStore" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="localStore"><i class="ci-location text-muted fs-lg align-middle mt-n1 me-2"></i>Find in local store</a></h3>
                        <div class="accordion-collapse collapse" id="localStore" data-bs-parent="#productPanels">
                          <div class="accordion-body">
                            <select class="form-select">
                              <option value>Select your country</option>
                              <option value="Argentina">Argentina</option>
                              <option value="Belgium">Belgium</option>
                              <option value="France">France</option>
                              <option value="Germany">Germany</option>
                              <option value="Spain">Spain</option>
                              <option value="UK">United Kingdom</option>
                              <option value="USA">USA</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Sharing-->
                    <label class="form-label d-inline-block align-middle my-2 me-3">Share:</label><a class="btn-share btn-twitter me-2 my-2" href="#"><i class="ci-twitter"></i>Twitter</a><a class="btn-share btn-instagram me-2 my-2" href="#"><i class="ci-instagram"></i>Instagram</a><a class="btn-share btn-facebook my-2" href="#"><i class="ci-facebook"></i>Facebook</a> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tech specs tab-->
            <div class="tab-pane fade" id="specs" role="tabpanel">
              <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                <div class="d-flex align-items-center me-md-3">
                  {% if single_product.productimagesfiles_set.all %}
                    {% for product_img in single_product.productimagesfiles_set.all|slice:":1" %}
                      <img src="{{product_img.image_file.url}}" width="90" alt="Product">
                    {%endfor%}
                  {%else%}
                    {% for product_img in single_product.productimagesurl_set.all|slice:":1" %}
                      <img src="{{product_img.image_url}}" width="90" alt="Product">
                    {%endfor%}
                  {% endif %}
                  
                  <div class="ps-3">
                    <h6 class="fs-base mb-2">{{single_product.title}}</h6>
                    <div class="h4 fw-normal text-accent">${{single_product.market_price}}.<small>00</small></div>
                  </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                 {% if user.is_staff %}
                  <button class="btn btn-primary btn-shadow me-2 disabled" type="button"><i class="ci-cart fs-lg me-sm-2">
                  </i>
                  <span class="d-none d-sm-inline">Add to Cart</span></button>
                  {% else %}
                  <a href="{% url 'apps.cart:addtocart' single_product.id %}">
                  <button class="btn btn-primary btn-shadow me-2" type="button"><i class="ci-cart fs-lg me-sm-2">
                  </i>
                  <span class="d-none d-sm-inline">Add to Cart</span></button>
                  {% endif %}
                  </a>
                  {% comment %} <div class="me-2">
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                  </div>
                  <div>
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i class="ci-compare fs-lg"></i></button>
                  </div> {% endcomment %}
                </div>
              </div>
              <!-- Specs table-->
              <div class="row pt-2">
                <div class="col-lg-5 col-sm-6">
                  <h3 class="h6">General specs</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Brand:</span><span>{{single_product.brand}}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Gender:</span><span>{{single_product.gender_cat}}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Price</span><span>{{single_product.market_price}}</span></li>
                    
    
                  </ul>
                  <h3 class="h6">Physical specs</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Size</span><span>{{single_product.size}}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Material:</span><span>{{single_product.material}}</span></li>
                    
                  </ul>
                  <h3 class="h6">Display</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Gender:</span><span>{{single_product.gender_cat}}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Sub Category:</span><span>{{single_product.sub_cat}}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Article Type:</span><span>{{single_product.articel_type}}</span></li>
                    
                  </ul>
                  <h3 class="h6">Details</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Description:</span><span>{{single_product.description}}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Complete Look:</span><span>{{single_product.completelook}}</span></li>
                  </ul>
                </div>
                <div class="col-lg-5 col-sm-6 offset-lg-1">
                  <h3 class="h6">Seller Info</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Seller Name:</span><span>{{single_product.seller.user.first_name}} {{single_product.seller.user.last_name}}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Seller Company:</span><span>{{single_product.seller.company_name}}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Contact:</span><span>{{single_product.seller.company_number}}</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Address:</span><span>{{single_product.seller.company_name}}</span></li>
                  </ul>
                  
                </div>
              </div>
            </div>
            <!-- Reviews tab-->
            <div class="tab-pane fade" id="reviews" role="tabpanel">
              <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                <div class="d-flex align-items-center me-md-3">
                  {% if single_product.productimagesfiles_set.all %}
                    {% for product_img in single_product.productimagesfiles_set.all|slice:":1" %}
                      <img src="{{product_img.image_file.url}}" width="90" alt="Product">
                    {%endfor%}
                  {%else%}
                    {% for product_img in single_product.productimagesurl_set.all|slice:":1" %}
                      <img src="{{product_img.image_url}}" width="90" alt="Product">
                    {%endfor%}
                  {% endif %}
                  <div class="ps-3">
                    <h6 class="fs-base mb-2">{{single_product.title}}</h6>
                    <div class="h4 fw-normal text-accent">${{single_product.market_price}}</div>
                  </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                   {% if user.is_staff %}
                  <button class="btn btn-primary btn-shadow me-2 disabled" type="button"><i class="ci-cart fs-lg me-sm-2">
                  </i>
                  <span class="d-none d-sm-inline">Add to Cart</span></button>
                  {% else %}
                  <a href="{% url 'apps.cart:addtocart' single_product.id %}">
                  <button class="btn btn-primary btn-shadow me-2" type="button"><i class="ci-cart fs-lg me-sm-2">
                  </i>
                  <span class="d-none d-sm-inline">Add to Cart</span></button>
                  {% endif %}
                  </a>
                  {% comment %} <div class="me-2">
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                  </div>
                  <div>
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i class="ci-compare fs-lg"></i></button>
                  </div> {% endcomment %}
                </div>
              </div>
              <!-- Reviews-->
              <div class="row pt-2 pb-3">
                <div class="col-lg-4 col-md-5">
                  <h2 class="h3 mb-4">Reviews</h2>
                 
                </div>
               
              </div>
              <hr class="mt-4 mb-3">
              <div class="row py-4">
                <!-- Reviews list-->
                <div class="col-md-7">
                  <!-- Review-->
                  {% for review in reviews %}
                  <div class="product-review pb-4 mb-4 border-bottom">
                    <div class="d-flex mb-3">
                      <div class="d-flex align-items-center me-4 pe-2">
                      {% if review.user.profile.image.url %}
                      <img src="{{review.user.profile.image.url}}" width="50" height="50" alt="{{review.user.first_name}}">
                      {% endif %}
                        <div class="ps-3">
                          <h6 class="fs-sm mb-0">{{review.user.first_name}} {{review.user.last_name}}</h6><span class="fs-ms text-muted">{{review.created_at}}</span>
                        </div>
                      </div>
                      <div>
                        <div class="star-rating">
                        <i class="star-rating-icon ci-star{% if review.rating > 0 %}-filled active{% endif %}"></i>
                        <i class="star-rating-icon ci-star{% if review.rating > 1 %}-filled active{% endif %}"></i>
                        <i class="star-rating-icon ci-star{% if review.rating > 2 %}-filled active{% endif %}"></i>
                        <i class="star-rating-icon ci-star{% if review.rating > 3 %}-filled active{% endif %}"></i>
                        <i class="star-rating-icon ci-star{% if review.rating > 4 %}-filled active{% endif %}"></i>

                        </div>
                        <div class="fs-ms text-muted">{{review.rating}}/5</div>
                      </div>
                    </div>
                    <p class="fs-md mb-2">{{review.review}}</p>
                    <ul class="list-unstyled fs-ms pt-1">
                      <li class="mb-1"><span class="fw-medium">Pros:&nbsp;</span>{{review.pros}}</li>
                      <li class="mb-1"><span class="fw-medium">Cons:&nbsp;</span>{{review.cons}}</li>
                    </ul>
                  </div>
                  {% endfor %}
                 
                  <div class="text-center">
                  {% if reviews %}
                    
                    {% else %}
                    <h4>Sorry, There are no reviews!</h4>
                    {% endif %}
                  </div>
                </div>
                <!-- Leave review form-->
                <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                  <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
                    <h3 class="h4 pb-2">Write a review</h3>
                    <form class="needs-validation" method="POST" action="{% url 'apps.main:reviews' single_product.id %}" novalidate>
                    {% csrf_token %}
                      <div class="mb-3">
                        <label class="form-label" for="review-name">Your name<span class="text-danger">*</span></label>
                        <input class="form-control" type="text" name="name" required id="review-name" value="{{user.first_name}}{{user.last_name}}">
                        <div class="invalid-feedback">Please enter your name!</div><small class="form-text text-muted">Will be displayed on the comment.</small>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="review-email">Your email<span class="text-danger">*</span></label>
                        <input class="form-control" type="email" name="email" required id="review-email" value="{{user.email}}">
                        <div class="invalid-feedback">Please provide valid email address!</div><small class="form-text text-muted">Authentication only - we won't spam you.</small>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="review-rating">Rating<span class="text-danger">*</span></label>
                        <select class="form-select" name="rating" required id="review-rating">
                          <option value="">Choose rating</option>
                          <option value="5">5 stars</option>
                          <option value="4">4 stars</option>
                          <option value="3">3 stars</option>
                          <option value="2">2 stars</option>
                          <option value="1">1 star</option>
                        </select>
                        <div class="invalid-feedback">Please choose rating!</div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="review-text">Review<span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="6" name="review" required id="review-text"></textarea>
                        <div class="invalid-feedback">Please write a review!</div><small class="form-text text-muted">Your review must be at least 50 characters.</small>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="review-pros">Pros</label>
                        <textarea class="form-control" rows="2" placeholder="Separated by commas" name="pros" id="review-pros"></textarea>
                      </div>
                      <div class="mb-4">
                        <label class="form-label" for="review-cons">Cons</label>
                        <textarea class="form-control" rows="2" placeholder="Separated by commas" name="cons" id="review-cons"></textarea>
                      </div>
                      <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Submit a Review</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product description-->
    <div class="container pt-lg-3 pb-4 pb-sm-5">
      
    </div>
    <hr class="mb-5">
    <!-- Product carousel (You may also like)-->
    <div class="container pt-lg-2 pb-5 mb-md-3">
      <h2 class="h3 text-center pb-4">You may also like</h2>
      <div class="tns-carousel tns-controls-static tns-controls-outside">
        <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}">
          <!-- Product-->
          {% for product in similar_products%}
            <div>
              <div class="card product-card card-static">
                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button>
                
                <a class="card-img-top d-block overflow-hidden" href="{% url 'apps.main:single_product' product.id%}">
                {% if product.productimagesfiles_set.all %}
                  {% for product_img in product.productimagesfiles_set.all|slice:":1" %}
                    <img src="{{product_img.image_file.url}}" alt="Product">
                  {%endfor%}
                {%else%}
                    {% for product_img in product.productimagesurl_set.all|slice:":1" %}
                      <img src="{{product_img.image_url}}" alt="Product">
                    {% endfor %}
                {%endif%}

                </a>

                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="{% url 'apps.main:single_product' product.id%}">{{product.articel_type}}</a>
                  <h3 class="product-title fs-sm"><a href="#">{{product.title}}</a></h3>
                  <div class="d-flex justify-content-between">
                    <div class="product-price"><span class="text-accent">${{product.market_price}}.<small>00</small></span></div>
                    <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <!-- Product-->
         
          <!-- Product-->
         
          <!-- Product-->
          
          <!-- Product-->
        </div>
      </div>
    </div>
    <!-- Product bundles carousel (Cheaper together)-->
    <div class="container pt-lg-1 pb-5 mb-md-3">
      
    </div>
    <!-- Footer-->x`
    {% endblock %}